.DailyWeather{
    width: 100%;
    padding: 30px;

}

.CommonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px
}

.dailycontainer{
    max-width: 1400px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-gap: 20px;
}

.dailyHeader, .HourlyWeather{
    color: white;
    margin-bottom: 20px;
}

.dailyForecast{
    width: 140px;
    height: 220px;
    transition:1s;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 11.3852px;
    padding: 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dailyForecast:hover{
    margin-bottom: 10px;
    width: 150px;
    height: 230px;
    border: 2px solid rgb(255, 255, 255);

}



.DailyIcon{
   
    width: 67.57px;
    height: 67.57px;
    margin: 0 auto;
}

.weekDay{
    font-size: 24px;
    color: white;
    text-align: center;
}

.dailyUnit{
    font-size: 24px;
    color: white;
    text-align: center;
}

.dateDay{
    font-size: 24px;
    color: white;
    text-align: center;
}

.hour{
    font-size: 24px;
    color: white;
    text-align: center; 
}





@media screen and (max-width: 1241px){
    .dailycontainer{
        width: 400px;
        /* overflow-x: scroll; */
    }

    .ArrowImage{
        display: block;
        width: 33.5px;
        height: 30px;
    }
}


@media screen and (max-width: 1168px){
    .dailycontainer{
        grid-template-columns: repeat(7 , 1fr);
    }

}


@media screen and (max-width: 1000px){
    .dailycontainer{
        grid-template-columns: repeat(6 , 1fr);
    }
}

@media screen and (max-width: 860px){
    .dailycontainer{
        grid-template-columns: repeat(5 , 1fr);
    }
}

@media screen and (max-width: 728px){
    .dailycontainer{
        grid-template-columns: repeat(4 , 1fr);
    }
}

@media screen and (max-width: 580px){
    .dailycontainer{
        grid-template-columns: repeat(3 , 1fr);
    }
}

@media screen and (max-width: 442px){
    .dailycontainer{
        grid-template-columns: repeat(2 , 1fr);
    }
}


