.mainPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colorContainer{
    background-image: linear-gradient(90deg, #020024 0%, #4baf1d 35%, #8aa9ff 100%);
   

}

.currentAndDaily{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightSide{
    margin-right: 10px;
    transition: 1s;
    height: 500px;
    margin-top: 10px;
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    width: 35%;
    background: url("https://news24.az/uploads/posts/2020-10/1601632052_hava1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
}
.rightSide:hover{
width: 50%;
height: 550px;
}

