.Navbarcont{
    padding: 10px;
    background: linear-gradient(-90deg,rgba(1, 16, 39, 0),rgba(8, 1, 51, 0.9));
    background-color: #3aaf1d;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}
.fa-cloud{
    text-decoration: none;
    color: white;
}
.fa-snowflake{
    text-decoration: none;
    color: white;
}

.fa-cloud-rain{
    text-decoration: none;
    color: white;
}
.fa-sun{
    text-decoration: none;
    color: white;
}
.fa-bolt{
    text-decoration: none;
    color: white;
}
.logog{
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    transition: 1s;
}
.logog:hover{
width: 450px;
}
.navLogoLinkContainer{
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LinkContainer{
   
    width: 180px;
    margin-left: -400px;

}

.Link{
    background-color: rgba(240, 255, 255, 0.129);
    width: 10%;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.Link:hover{
    background-color: white;
    color: rgb(39, 121, 213);
}
.slider{
    background-color: rgba(240, 255, 255, 0.129);
    width: 10%;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: -400px;
}
.slider:hover{
    background-color: white;
    color: rgb(39, 121, 213);
}
.slides{
    width: 180px;
    
}

@media screen and (max-width: 1300px){
    .Link{
        font-size: 1.2rem;
    }
    .logog{
        width:100px;
    }
    .LinkContainer{
        margin-left: 40px;
    }
    .slider{
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .logog:hover{
        width: 200px;
        }
}


