.footerDiv{
    padding: 10px 30px;
    background: linear-gradient(-90deg,rgba(1, 16, 39, 0),rgba(8, 1, 51, 0.9));
    background-color: #3aaf1d;
    color: white;
}

.footerCont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.footerCont>div{
    width: 40%;
}
.footerCont>span{
    width: 1px;
    height: 60px;
    background-color: white;
}
.contactUsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 210px;
    height: 110px;
    margin: 5px auto 5px auto;

}

.email{
    text-decoration: none;
    color: white;
}

.contactUs{
    color: #fbfbfb;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.copyright{
    width: 80%;
    max-width: 350px;
    margin: auto;
}
