.footerDiv{
    padding: 30px;
    background: linear-gradient(-90deg,rgba(1, 16, 39, 0),rgba(8, 1, 51, 0.9));
    background-color: #3aaf1d;
    color: white;
}

.footerCont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCont>div{
    width: 40%;
}
.contactUsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 210px;
    height: 110px;
    margin: auto;
    margin-bottom: 20px;

}

.email{
    text-decoration: none;
    color: white;
}

.contactUs{
    color: #fbfbfb;
    margin-bottom: 10px;
}

.copyright{
    width: 80%;
    max-width: 350px;
    margin: auto;
}